
/* .titulo{
  color: #000;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 50px;
  font-size:38px;
}
.comunidades{
  position: absolute;
  top: 0%;
  border: 1px solid rgb(5, 5, 5);
  width: 4000 px;
  height: 4000 px;
  margin-left: 79%;
  margin-top: 79px;

}
.foto1{
  position: relative;
  margin-left: -25px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.foto{
  position: relative;
  margin-left: -25px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}.foto1{
  position: relative;
  margin-left: -28px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.texto{
  color:#61dafb
}
.comunidade p{
  color: #000;
  font-size:22px;
} */